<mat-toolbar color="primary">
    <span><a [routerLink]="['/home']" class="menu-item">
        Karatê-DÔ Tradicional do Piauí
    </a></span>

    <div *ngIf="currentUserSignal()">
        <span><a [routerLink]="['/users']" class="menu-item">Usuários</a></span>
        <span><a [routerLink]="['/profiles']" class="menu-item">Fichas</a></span>
        <span><a [routerLink]="['/tournaments']" class="menu-item">Torneios</a></span>
        <span><a [routerLink]="['/addresses']" class="menu-item">Endereços</a></span>
        <span class="menu-item" style="flex-grow: 1; text-align: right;">
            <button (click)="logout()" class="menu-item" style="text-align: right;">Sair</button>
        </span>
    </div>

    <div *ngIf="currentUserSignal() === null">
        <span><a [routerLink]="['/registration']" class="menu-item">Cadastrar</a></span>
        <span class="menu-item" style="flex-grow: 1; text-align: right;">
            <a [routerLink]="['/login']" class="menu-item" style="text-align: right;">Entrar</a>
        </span>
    </div>
</mat-toolbar>