<mat-toolbar color="primary">
    <div style="display: flex; align-items: center;">
        <div><a [routerLink]="['/home']" class="menu-item">Karatê-DÔ Tradicional do Piauí</a></div>
    </div>

    <div *ngIf="currentUserSignal()" style="display: flex; align-items: center;">
        <div *ngFor="let menu of menusByRole"><a [routerLink]="[menu.path]" class="menu-item">{{ menu.text }}</a></div>
        <div style="flex-grow: 1; text-align: right;">
            <button (click)="logout()" class="menu-item" style="text-align: right;">Sair</button>
        </div>
    </div>

    <div *ngIf="currentUserSignal() === null" style="display: flex; align-items: center;">
        <div *ngFor="let menu of menusByRole"><a [routerLink]="[menu.path]" class="menu-item">{{ menu.text }}</a></div>
        <div style="flex-grow: 1; text-align: right;">
            <a [routerLink]="['/login']" class="menu-item" style="text-align: right;">Entrar</a>
        </div>
    </div>
</mat-toolbar>
