<div class="tournament-list-container">
    <mat-form-field>
        <mat-label>Busca</mat-label>
        <input matInput (keyup)="search($event.target.value)" #input>
    </mat-form-field>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortChange($event)">

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>

            <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Localização </th>
                <td mat-cell *matCellDef="let row"> {{row.address.city}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell *matCellDef="let row"> {{row.status | enumTranslation}} </td>
            </ng-container>

            <ng-container matColumnDef="numberOfParticipants">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantidade de participantes </th>
                <td mat-cell *matCellDef="let row"> {{row.numberOfParticipants}} </td>
            </ng-container>

            <ng-container matColumnDef="eventDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Data de realização </th>
                <td mat-cell *matCellDef="let row"> {{row.eventDateTime | date: 'dd/MM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="eventTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Horário de início </th>
                <td mat-cell *matCellDef="let row"> {{row.eventDateTime | date: 'hh:mm'}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator #paginator [length]="dataLength" [pageIndex]="0" [pageSize]="3" [pageSizeOptions]="[2, 3, 4, 5]"
            (page)="listTournaments($event)">
        </mat-paginator>
    </div>
</div>