<h1 mat-dialog-title>Delete Item</h1>
<div mat-dialog-content>
    Avaliação de usuário
    <div>
        <mat-form-field appearance="outline" class="form-element">
            <mat-label for="authority">Autoridade</mat-label>
            <mat-select (selectionChange)="roles" id="role" [(ngModel)]="userEvalution.authority">
                <mat-option *ngFor="let role of roles" [value]="role.value">
                    {{ role.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="outline" class="form-element">
            <mat-label for="status">Status</mat-label>
            <mat-select (selectionChange)="statuses" id="status" [(ngModel)]="userEvalution.status">
                <mat-option *ngFor="let status of statuses" [value]="status.value">
                    {{ status.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>No</button>
    <button mat-button (click)="confirmEvaluation()">Ok</button>
</div>