<div class="container-fluid">
    <div class="federations-list-container">
        <div class="col-md-6">
            <app-search-input [statuses]="statuses" (search)="search($event)"></app-search-input>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th (click)="onSortChange('businessName')">Razão Social</th>
                        <th (click)="onSortChange('federationAbbreviation')">Sigla</th>
                        <th (click)="onSortChange('foundationDate')">Data de Fundação</th>
                        <th (click)="onSortChange('status')">Status</th>
                        <th (click)="onSortChange('presidentName')">Presidente</th>
                        <th (click)="onSortChange('phone')">Contato</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rowFederationOutputDto of federationsOutputsDtos">
                        <td>{{ rowFederationOutputDto.businessName }}</td>
                        <td>{{ rowFederationOutputDto.federationAbbreviation  }}</td>
                        <td>{{ rowFederationOutputDto.foundationDate | date: 'dd/MM/yyyy' }}</td>
                        <td>{{ rowFederationOutputDto.status | statusEnumTranslation }}</td>
                        <td>
                            <ng-container *ngIf="rowFederationOutputDto.presidentName; else awaitingPresident">{{ rowFederationOutputDto.presidentName }}</ng-container>
                            <ng-template #awaitingPresident>Sem presidente</ng-template>
                        </td>
                        <td>
                            <ng-container *ngIf="rowFederationOutputDto.phoneNumbers; else awaitingPhone">
                                <span class="bi bi-plus-circle" data-toggle="tooltip" title="Ver todos os telefones"
                                    (click)="openShowPhonesModal(rowFederationOutputDto.phoneNumbers)">
                                    {{ rowFederationOutputDto.phoneNumbers[0] }}
                                </span>
                            </ng-container>
                            <ng-template #awaitingPhone>Sem telefone</ng-template>
                        </td>
                        <td>
                            <button class="btn btn-light dropdown-toggle" type="button" role="button" id="dropdown"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-gear"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a class="dropdown-item">
                                        <span class="bi bi-binoculars" data-toggle="tooltip" title="Ver todos os detalhes"
                                            (click)="openFederationDetailsModal(rowFederationOutputDto)">
                                            Ver detalhes
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" [routerLink]="['/federacoes', rowFederationOutputDto.id, 'associacoes']">
                                        <span class="bi bi-arrow-bar-right" aria-hidden="false" aria-label="Ver associações">
                                            Ver associações
                                        </span>
                                    </a>
                                </li>
                                <li *ngIf="hasPrivileges('/federacoes/'+ rowFederationOutputDto.id +'/atualizar')">
                                    <div class="dropdown-item" [routerLink]="['/federacoes', rowFederationOutputDto.id, 'atualizar']">
                                        <span class="bi bi-plus-circle">
                                            Editar federação
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="pagination">
                <ul class="pagination">
                    <li class="page-item" *ngFor="let page of getPages()">
                        <a class="page-link" (click)="listProfiles({ pageIndex: page, pageSize: pageSize })">{{ page + 1
                            }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div *ngIf="hasPrivileges('/federacoes/criar')" class="federations-list-container">
            <a class="btn btn-primary" routerLink="/federacoes/criar">Adicionar</a>
        </div>
    </div>
</div>