/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-area{
    background:rgb(227, 236, 243);
    position:relative;
    margin-bottom:45px;
    padding:50px 20px;
    border:3px solid #021bf4
}

.menu-item {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 0 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-item:hover {
    background-color: #1565C0;
}

.menu-item:last-child {
    margin-right: auto;
}

.between-formgroupsnames {
    margin-bottom: 20px;
}

.form-group-outline {
    border: 2px solid #007bff; /* Cor da borda - você pode ajustar conforme necessário */
    border-radius: 8px; /* Raio da borda - ajuste conforme necessário */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ao redor - ajuste conforme necessário */
    padding: 15px; /* Espaçamento interno para melhorar a aparência */
    margin-bottom: 20px; /* Espaçamento inferior entre os grupos - ajuste conforme necessário */
}