/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-area{
    background:rgb(227, 236, 243);
    position:relative;
    margin-bottom:45px;
    padding:50px 20px;
    border:3px solid #021bf4
}

mat-toolbar {
    background-color: #2196F3;
    color: #fff;
    height: 64px;
    display: flex;
    align-items: center;
}

.menu-item {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 0 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-item:hover {
    background-color: #1565C0;
}

.menu-item:last-child {
    margin-right: auto;
}