/* login.component.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card {
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.login-title {
    text-align: center;
}

.login-input {
    width: 100%;
    margin-bottom: 15px;
}

.login-button-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.login-button-container button {
    margin-bottom: 10px;
}