<h1 class="modal-title">Inscrição em torneio</h1>
<div class="modal-body">
    <div *ngIf="isParticipant === true">
        Você gostaria mesmo de cancelar sua inscrição neste torneio?
    </div>
    <div *ngIf="isParticipant === false">
        Você gostaria mesmo de participar deste torneio?
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeDialog()">Não</button>
    <button type="button" class="btn btn-primary" (click)="toggleParticipation()">Sim</button>
</div>