<div class="container create-profile-container">
  <div>
    <mat-card>
      <h3 style="text-align: center">Criação de novo perfil</h3>
      <div>
        <mat-form-field appearance="outline" class="form-element">
          <mat-label>Email</mat-label>
          <input matInput  [(ngModel)] ="profileForm.email" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="form-element">
          <mat-label>Senha</mat-label>
          <input matInput  [(ngModel)] ="profileForm.password" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="form-element">
          <mat-label>Primeiro nome</mat-label>
          <input matInput  [(ngModel)] ="profileForm.firstname" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="form-element">
          <mat-label>Sobrenome</mat-label>
          <input matInput [(ngModel)] ="profileForm.lastname"/>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="form-element">
          <mat-label>Nome do pai</mat-label>
          <input matInput [(ngModel)] ="profileForm.father"/>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="form-element">
          <mat-label>Nome da mãe</mat-label>
          <input matInput [(ngModel)] ="profileForm.mother"/>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="form-element">
          <mat-label>Cidade natal</mat-label>
          <input matInput [(ngModel)] ="profileForm.hometown"/>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="form-element">
          <mat-label>Data de nascimento</mat-label>
          <input matInput data-format="00/00/0000"  placeholder="dd/mm/yyyy" [(ngModel)] ="profileForm.birthday"/>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="form-element">
          <mat-label>CPF</mat-label>
          <input matInput [(ngModel)] ="profileForm.cpf"/>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="form-element">
          <mat-label>RG</mat-label>
          <input matInput [(ngModel)] ="profileForm.rg"/>
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button color="primary" (click)="createProfile()">Criar</button>
        <button mat-raised-button color="secundary" (click)="cancel()">Voltar</button>
      </div>
    </mat-card>
  </div>
</div>