<h1 class="modal-title">Graduação do carateca</h1>
<div class="modal-body">

    <div class="form-group">
        <label for="status">Graduação</label>
        <select class="form-control" id="status" [(ngModel)]="graduationDto.belt">
            <option *ngFor="let belt of belts" [ngValue]="belt.value">{{ belt.name }}</option>
        </select>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeDialog()">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="confirmEvaluation()">Confirmar</button>
</div>
