<div>
    <div>
        <div>
            <h5>Renovação</h5>
        </div>
        <div>
            <form [formGroup]="formGroup" (ngSubmit)="onSubmitNewPassword()">
                <div class="mb-3">
                    <label for="newPassword" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="password" placeholder="Senha" formControlName="newPassword" name="newPassword" autocomplete="password">
                </div>
                <div class="mb-3">
                    <label for="newPasswordConfirmation" class="form-label">Confirmação de Senha</label>
                    <input type="password" class="form-control" id="newPasswordConfirmation" placeholder="Confirmação de senha" formControlName="newPasswordConfirmation" name="newPasswordConfirmation" autocomplete="new-password">
                </div>
                <div>
                    <button class="btn btn-primary" type="submit">Salvar</button>
                    <button class="btn btn-secondary" (click)="cancel()">Voltar</button>
                </div>
            </form>
        </div>
    </div>
</div>
