<div class="container add-student-container">
    <div>
      <mat-card>
        <h3 style="text-align: center">Atualização de perfil</h3>
        <div>
          <mat-form-field appearance="outline" class="form-element">
            <mat-label>Nome completo</mat-label>
            <input matInput [(ngModel)] ="profileForm.fullname"/>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="form-element">
            <mat-label>Nome do pai</mat-label>
            <input matInput [(ngModel)] ="profileForm.father"/>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="form-element">
            <mat-label>Nome da mãe</mat-label>
            <input matInput [(ngModel)] ="profileForm.mother"/>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="form-element">
            <mat-label>CEP</mat-label>
            <input matInput [(ngModel)] ="profileForm.address.zipCode"/>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="form-element">
            <mat-label>Logradouro</mat-label>
            <input matInput [(ngModel)] ="profileForm.address.street"/>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="form-element">
            <mat-label>Número</mat-label>
            <input matInput [(ngModel)] ="profileForm.address.number"/>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="form-element">
            <mat-label>Bairro</mat-label>
            <input matInput [(ngModel)] ="profileForm.address.neighbourhood"/>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="form-element">
            <mat-label>Cidade</mat-label>
            <input matInput [(ngModel)] ="profileForm.address.city"/>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="form-element">
            <mat-label>Estado</mat-label>
            <input matInput [(ngModel)] ="profileForm.address.state"/>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="form-element">
            <mat-label>Tipo Sanguíneo</mat-label>
            <input matInput [(ngModel)] ="profileForm.bloodType"/>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="form-element">
            <mat-label>Data de nascimento</mat-label>
            <input matInput mask="d0/M0/0000" [leadZeroDateTime]="true" placeholder="dd/mm/yyyy" [(ngModel)] ="profileForm.birthday"/>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="form-element">
            <mat-label>CPF</mat-label>
            <input matInput [(ngModel)] ="profileForm.cpf"/>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="form-element">
            <mat-label>RG</mat-label>
            <input matInput [(ngModel)] ="profileForm.rg"/>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="form-element">
            <mat-label>Telefone</mat-label>
            <input matInput type='text' mask='(00) 00000-0000' placeholder="(00) 00000-0000" [(ngModel)] ="profileForm.phone" />
          </mat-form-field>
        </div>
        <div>
          <button mat-raised-button color="primary" (click)="updateProfile()">Atualizar</button>
          <button mat-raised-button color="secundary" (click)="cancel()">Voltar</button>
        </div>
      </mat-card>
    </div>
  </div>